<% if logged_in? %>
  
    <%= form_for(@comment) do |f| %>
      
      <div class="row">
        <div class="col-md-8">
          <%= f.text_area :body, placeholder: "Write a comment!" %>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="col-md-2">
        <%= f.submit "Comment", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  
<% end %>